.header {
    background-color: #ab2a19;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 3% 0px;
}

.logo img {
    height: 50px;
    width: 50px;
    margin: 0px 20px 0px;
}

.nav-buttons button {
    background-color: #ed6b5a;
    color: black;
    border: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    padding: 7px 10px 7px;
    font-weight: bold;
}